@media (max-width: 768px) {
	nav ul li, .blog-post p.blog-snippet {
		font-size: .8em;
	}
	.blog-post h2 {
		font-size: 1.1em;
	}
	nav ul.main-content-links li {
		margin-right: 30px;
	}
	nav ul.social-media-links li {
		margin-left: 30px;
	}
	nav {
		width: 100%;
		padding-left: 10%;
		padding-right: 10%;
	}
	.blog-post {
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
	}
}

@media (max-width: 480px) {
	nav ul li, .blog-post p.blog-snippet {
		font-size: .7em;
	}
	.blog-post h2 {
		font-size: 1em;
	}
	nav ul.main-content-links li {
		margin-right: 12px;
	}
	nav ul.social-media-links li {
		margin-left: 12px;
	}
}